<!-- ===================  tree view =======================  -->

<lib-tah-treeview [items]="items">
</lib-tah-treeview>


<!-- ================= Custom  Tree view ========================= -->

<!-- <ng-template #newTemplate let-item="item" let-index="index">
    <button class="btn btn-tree">
        <span> B </span> {{item.name}} - {{index}}
        <img [src]="item.isExpand ? 'assets/img/minus.png' : 'assets/img/plus.png'" [hidden]="!item.children" alt="">
    </button>
</ng-template>
<lib-tah-treeview [items]="items" [parentTemplate]="newTemplate" >
</lib-tah-treeview>

 -->