<!-- =================  Tree view ========================= -->

<lib-tahalufTreeview2 [items]="items">
</lib-tahalufTreeview2>

<!-- ================= Custom  Tree view ========================= -->

<!-- <ng-template #newTemplate let-item="item" let-index="index">
    <div class="text-input">
        <div>
            <select class="control">
                <option>one</option>
                <option>two</option>
                <option>three</option>
            </select>
        </div>
        <div>
            <input type="text" class="control" placeholder="name">
        </div>
    </div>
</ng-template>

<lib-tahalufTreeview2 [items]="items" [parentTemplate]="newTemplate">
</lib-tahalufTreeview2> -->